 .flex {
     display: flex;
 }

 .spaceBetween {
     justify-content: space-between;
 }

 .taRight {
     text-align: right;
 }

 .aiCenter {
     align-items: center;
 }

 .pd10 {
     padding: 10px;
 }