 .flex {
     display: flex;
 }
.mAuto{
    margin: auto;
}
 .spaceBetween {
     justify-content: space-between;
 }

 .taRight {
     text-align: right;
 }

 .aiCenter {
     align-items: center;
 }

 .pd10 {
     padding: 10px;
 }

 .mr15{
    margin-right: 1.5rem;
 }
 .mb1{
    margin-bottom: 1rem;
 }

 .white{
    color: white;
 }