.desktop-header{
    background-color: var(--color-blue);
    color: var(--color-white);
}
.mobile-header{
    width: 600px;
    background-color: var(--color-blue);
    color: var(--color-white);
}
.desktop-footer{
    background-color: var(--color-gray40); 
}
.mobile-footer{
    width: 600px;
    background-color: var(--color-gray40); 
}
.mobile-container {
    min-width: 320px;
    width: 600px; 
    min-height: 100vh; 
    margin: 0 auto; 
    padding: 10px;
    overflow: auto;   
    background-color: var(--color-gray10); 
}
.desktop-container {
    width: 100%;
    min-height: 100vh; 
    padding: 20px; 
    margin: 0;  
}
