.custom-header{
    background-color: var(--color-blue);
    color: var(--color-white);
}
.custom-footer{
    background-color: var(--color-gray40); 
}
.mobile-container {
    min-width: 320px;
    width: 600px; 
    min-height: 100vh; 
    margin: 0 auto; 
    padding: 10px;
    overflow: auto;   
    background-color: var(--color-gray10); 
}
.admin-container {
    width: 100%; 
    min-height: 100vh; 
    padding: 20px; 
}