@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {  
  --color-white: #ffffff;
  --color-black: #1c1c1c;
  --color-red: #FF3B30;
  --color-blue: #007AFF;
  --color-gray10: #F2F2F7;
  --color-gray20: #E5E5EA;
  --color-gray30: #D1D1D6;
  --color-gray40: #C7C7CC;
  --color-gray50: #AEAEB2;
  --color-gray60: #8E8E93; 
}

:root {
  font-family: "Pretendard";
  line-height: 1.5;
  font-weight: 500; 
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 16px;
} 

body { 
  font-family: 'Pretendard'; 
  background-color: var(--color-white);  
  color: var(--color-black);
  font-size: 1rem; /* 기본 본문 텍스트 크기 (16px) */
  line-height: 1.5;  
  place-items: center;
  min-height: 100vh;
  margin: 0;
  display: flex;
}  

p {
  font-size: 1rem; 
  font-weight: 500; 
  margin-bottom: 1rem;  
}

h1 {
  font-size: 2rem;  
  font-weight: 700; 
}

h2 {
  font-size: 1.5rem; 
  font-weight: 700;  
}

h3 {
  font-size: 1.25rem; 
  font-weight: 600; 
}

h4 {
  font-size: 1.125rem;  
  font-weight: 600;  
}

h5 {
  font-size: 1rem;  
  font-weight: 600;  
}

h6 {
  font-size: 0.875rem;  
  font-weight: 600;  
}
 
small {
  font-size: 0.875rem; 
  font-weight: 500;  
}
 
a { 
  color: var(--color-black);
  text-decoration: none;
}

a:hover {
  color: var(--color-blue);
}  

button {
  font-size: 1rem;  
  font-weight: 500;  
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--color-gray40);
  color: var(--color-white);
}

button:hover {
  background-color: var(--color-black); 
}  